<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="/javascripts/compiled/spargo.js" defer></script>
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.7.0/highlight.min.js" nonce="{{@cspNonce}}"
            crossorigin></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body class="font-sans h-full">
<div>
    <div ignite="sidebar">
        <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true" @if="sidebarOpen">
            <div class="fixed inset-0 bg-gray-900/80"></div>

            <div class="fixed inset-0 flex">
                <div class="relative mr-16 flex w-full max-w-xs flex-1">
                    <div class="absolute top-0 left-full flex w-16 justify-center pt-5">
                        <button type="button" class="-m-2.5 p-2.5" @click="toggleSidebarOpen">
                            <span class="sr-only">Close sidebar</span>
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>

                    <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-2 ring-1 ring-white/10">
                        <div class="flex h-16 shrink-0 items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-feather h-8 w-auto" style="color: #D5B2FA">
                                <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path>
                                <line x1="16" y1="8" x2="2" y2="22"></line>
                                <line x1="17.5" y1="15" x2="9" y2="15"></line>
                            </svg>
                        </div>
                        <nav class="flex flex-1 flex-col">
                            <ul role="list" class="flex flex-1 flex-col gap-y-7">
                                <li>
                                    <ul role="list" class="-mx-2 space-y-1">
                                        <li @for="_ in routes">
                                            <a @href="path"
                                               class="flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
                                               @class="current => bg-gray-800 text-white group || text-gray-400 hover:text-white hover:bg-gray-800 group"
                                            >
                                                <span @text="title"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
            <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6">
                <div class="flex h-16 shrink-0 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-feather h-8 w-auto" style="color: #D5B2FA">
                        <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path>
                        <line x1="16" y1="8" x2="2" y2="22"></line>
                        <line x1="17.5" y1="15" x2="9" y2="15"></line>
                    </svg>
                </div>
                <nav class="flex flex-1 flex-col">
                    <ul role="list" class="flex flex-1 flex-col gap-y-7">
                        <li>
                            <ul role="list" class="-mx-2 space-y-1">
                                <li @for="_ in routes">
                                    <a @href="path"
                                       class="group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
                                       @class="current => bg-gray-800 text-white || text-gray-400 hover:text-white hover:bg-gray-800"
                                    >
                                        <span @text="title"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="-mx-6 mt-auto">
                            <a href="/"
                               class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-white hover:bg-gray-800">
                                <span class="sr-only">Go Home</span>
                                <span aria-hidden="true" class="mr-2">&larr;</span>Home
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-gray-900 py-4 px-4 shadow-sm sm:px-6 lg:hidden">
            <button type="button" class="-m-2.5 p-2.5 text-gray-400 lg:hidden" @click="toggleSidebarOpen">
                <span class="sr-only">Open sidebar</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                </svg>
            </button>
            <div class="flex-1 text-sm font-semibold leading-6 text-white">Getting Started</div>
            <a href="/"
               class="rounded-md bg-gray-400 px-2.5 py-1.5 text-md font-semibold shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                <span class="sr-only">Go Home</span>
                <span aria-hidden="true" class="mr-2">&larr;</span>Home
            </a>
        </div>
    </div>

    <main class="py-10 lg:pl-72">
        <div class="px-4 sm:px-6 lg:px-8">
            {{{body}}}
        </div>
    </main>
</div>
<script nonce="{{@cspNonce}}">hljs.highlightAll();</script>
<script nonce="{{@cspNonce}}">
    function sidebar() {
        return {
            routes: [],
            sidebarOpen: false,
            toggleSidebarOpen() {
                this.sidebarOpen = !this.sidebarOpen;
            },
            ignited() {
                const routes = [
                    {
                        path: '/docs',
                        title: 'Getting Started'
                    },
                    {
                        path: '/docs/ignite',
                        title: 'ignite'
                    },
                    {
                        path: '/docs/sync',
                        title: '@sync'
                    },
                    {
                        path: '/docs/text',
                        title: '@text'
                    },
                    {
                        path: '/docs/conditional',
                        title: '@if/@elseif/@else'
                    },
                    {
                        path: '/docs/click',
                        title: '@click'
                    },
                    {
                        path: '/docs/for',
                        title: '@for'
                    },
                    {
                        path: '/docs/mask',
                        title: '@mask'
                    },
                    {
                        path: '/docs/class',
                        title: '@class'
                    },
                    {
                        path: '/docs/href',
                        title: '@href'
                    },
                    {
                        path: '/docs/getters',
                        title: 'getters'
                    },
                    {
                        path: '/docs/setters',
                        title: 'setters'
                    },
                    {
                        path: '/docs/ignited',
                        title: 'ignited'
                    },
                ];

                this.routes = routes.map((route) => {
                    return {...route, current: window.location.pathname === route.path};
                });
            }
        }
    }
</script>
</body>
</html>
